.problems-table {
    position: relative;

    left: 50%;
    margin-left: -40%;

    width: 80%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.problems-table td {
    padding: 5px 0;
    position: relative;
    border: 1px solid black;
    text-align: center;
}

.problems-main {
    font-weight: bold;
}

.problems-column1 {
    width: 10%;
}

.problems-column2 {
    width: 36%;
}

.problems-column3 {
    width: 36%;
}