<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a href="/">Главная</a>
      </li>
      <li>
        <a href="/problems">Задачи</a>
      </li>
      <li>
        <a href="/status">Состояние</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if session['is_logged'] %}
        <li>
          <a href="/profile/{{session['nickname']}}">Профиль</a>
        </li>
        {% endif %}
        {% if session['is_logged'] %}
        <li>
          <a href="/logout">Выход</a>
        </li>
        {% endif %}
        {% if session['is_logged'] == False %}
        <li>
          <a href="/sign-in-page">Вход</a>
        </li>
        {% endif %}
         {% if session['is_logged'] == False %}
        <li>
          <a href="/sign-up-page">Регистрация</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>