<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sign-up-page.css') }}" />
  </head>
  <body>
   {% include 'nav.html' %}
    <div class = "sign-up-page-block">
    <form method="post" action="/sign-up-page">
      <h1>Регистрация</h1>
      <br>
      <label><big>Никнейм</big></label>
      <input type="text" class="sign-up-page-info" name="nick" placeholder="Введите ник" required>
      <br>
      <label><big>Имя</big></label>
      <input type="text" class="sign-up-page-info" name="name" placeholder="Введите имя" id="pass" required>
      <br>
      <label><big>Фамилия</big></label>
      <input type="text" class="sign-up-page-info" name="second_name" placeholder="Введите фамилию" required>
      <br>
      <label><big>Почта</big></label>
      <input type="text" class="sign-up-page-info" name="email" placeholder="Адрес электронной почты" required>
      <br>
      <label><big>Пароль</big></label>
      <input type="password" class="sign-up-page-info" name="pass" placeholder="Пароль" required>
      <br>
      <label><big>Еще раз пароль</big></label>
      <input type="password" class="sign-up-page-info" name="checkpass" placeholder="Для убедительности" required>
      <br>
      <input type="submit" class="sign-up-page-submit" value="Создать Аккаунт">
    </form>
    </div>
   {% if session['password_match_error'] %}
    <script>
            alert("Пароли не совпадают")
    </script>
   {% elif session['identiсal_nick_error'] %}
   <script>
            alert("Данный никнейм занят")
   </script>
   {% endif %}
  </body>
</html>