<!DOCTYPE html>
<html>
   <head>
       {% include 'header.html' %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sign-in-page.css') }}"/>
   </head>
   <body>
    {% include 'nav.html' %}
      <form id='sign-in-page-div' action="/sign-in-page" method="post">
        <h1>Вход</h1>
        <br>
        <label><big>Никнейм</big></label>
        <input class='sign-in-page-entry-field' name="nickname" type="text" placeholder="Никнейм" required>
        <br><br>
        <label><big>Пароль</big></label>
        <input class='sign-in-page-entry-field' name="password" type="password" placeholder="Пароль" required>
        <br><br>
        <input id='sign-in-page-but' type="submit" value='Войти'>
      </form>
   </body>
</html>